.profile__nav-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile_container-sidebar {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    ;
    margin-top: 10px;
}

.leftSide_menu-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.leftSide_menu-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftSide_menu-body-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.leftSide_menu-body-item a {
    text-decoration: none;
    color: black;
}

.profile_content-wrap {
    margin: 10px 20px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.profile_content-header {
    padding: 18px;
    border-bottom: 1px solid #ccc;
}

.profile_content-header h3 {
    margin: 0;
}

.profile_content-body {
    padding: 20px;
}

.profile_content-body-label {
    display: flex;
}

.profile_content-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile_content-body-input input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 12px;
    width: 50%;
}

#username-input {
    border: none;
    background-color: white;
}

.profile_save-btn button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.profile_save-btn button:hover {
    background-color: #fe9614;
    border: 1px solid #fe9614;
}

/* Tablet */
@media (min-width:740px) and (max-width:1023px) {}


/* Mobile */
@media (max-width:739px) {
    .profile_content-body-item {
        gap: 0px !important;
    }

    .profile__nav-wrap {
        margin-top: 35px;
    }
}