.profile__nav-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.myOrder_content-wrap {
    margin: 10px 20px 0px 20px;
}

.myOrder_container-item {
    margin-top: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.myOrder_container-item {
    padding: 10px 20px;
}

.myOrder_content-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.myOrder_status {
    padding-bottom: 20px;
}

.myOrder_orderDetail {
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #ccc;
}

.myOrder_orderDetail-img img {
    width: 100%;
    border: 1px solid #ccc;
}

.myOrder_orderDetail-productInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.myOrder_orderDetail-productInfo-name,
.myOrder_orderDetail-productInfo-color,
.myOrder_orderDetail-productInfo-quantity {
    margin-left: 20px;
}

.myOrder_orderDetail-productInfo-name p {
    margin: 0;
}

.myOrder_orderDetail-productInfo-price {
    display: flex;
    justify-content: flex-end;
}

.myOrder_status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fe9614;
    border-bottom: 1px solid #ccc;
}

.myOrder_button-reOrder {
    background-color: #fe9614;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.myOrder_totalPayment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    padding: 20px 0px;
}

.myOrder_button-wrap {
    display: flex;
    gap: 10px;
}

.myOrder_button-review {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    background: white;
}

button.myOrder_button-review:hover {
    color: white;
    background: black;
}

button.myOrder_button-review:active {
    color: black;
    background: #ccc;
}

/* Tablet */
@media (min-width:740px) and (max-width:1023px) {}


/* Mobile */
@media (max-width:739px) {}